Pandas is a python package which is build on top of numpy package. It has two objects Series and Dataframe. For more info about Pandas go to "https://www.geeksforgeeks.org/introduction-to-pandas-in-python/?ref=lbp"

## PANDAS SERIES
  Pandas series is a one dimensional labelled array capable of holding data of any type like integer, string, float etc...

  Refer: https://www.geeksforgeeks.org/python-pandas-series/?ref=lbp

In [1]:
import numpy as np
import pandas as pd

In [2]:
# creating a series from list
list1 = ['a1', 'a2', 'a3', 'a4']

series1 = pd.Series(list1)
print("Series with default indexes:\n{one}".format(one=series1))
print("Indexes of the series are: ",series1.index)

Series with default indexes:
0    a1
1    a2
2    a3
3    a4
dtype: object
Indexes of the series are:  RangeIndex(start=0, stop=4, step=1)

In the above result 0,1,2,3 are indexes. These indexes can be anything but they should be hashable. Like list cannot be an index.

In [3]:
# creating a series with labelled indexes
series2 = pd.Series(list1, index=['one', 'two', 'three', 'four'], dtype='S10') # dttype = 'S10' indicates that series can hold a value which can have at max of 10 bytes
print("Series with labelled indexes:\n{one}".format(one=series2))
print("Indexes of the series are: ",series2.index)

Series with labelled indexes:
one      b'a1'
two      b'a2'
three    b'a3'
four     b'a4'
dtype: bytes80
Indexes of the series are:  Index(['one', 'two', 'three', 'four'], dtype='object')

In [4]:
# printing element at position
print("Element with label/index 1 in series 1: ", series1[1])
print("Element with label/index 'three' in series 3: ", series2['three'])
print("Accessing element using iloc from series2: ", series2.iloc[0])
print("Accessing element using loc from series2: ", series2.loc['two'])
print("Slicing operation can also be applied both on labelled and integer indexed series using iloc:\n{one}".format(one=series2.iloc[0::2]))
print("On integer indexed series slicing operation can be applied using loc as well:\n{one}".format(one=series1.loc[1::2]))

Element with label/index 1 in series 1:  a2
Element with label/index 'three' in series 3:  b'a3'
Accessing element using iloc from series2:  b'a1'
Accessing element using loc from series2:  b'a2'
Slicing operation can also be applied both on labelled and integer indexed series using iloc:
one      b'a1'
three    b'a3'
dtype: bytes80
On integer indexed series slicing operation can be applied using loc as well:
1    a2
3    a4
dtype: object

There are many functions in pandas object with which you can combine two series. like add(), sub(), ..... etc. Refer "https://www.geeksforgeeks.org/python-pandas-series/?ref=lbp

In [5]:
# Combining two series using add() function
seriesx = pd.Series(np.arange(0,10,2), index=np.random.choice(a=['a','e','i','o','u',1,2,3,4,5], size=5, replace=False))
seriesy = pd.Series(np.linspace(12, 12.7, num=5), index=np.random.choice(a=['a','e','i','o','u',1,2,3,4,5], size=5, replace=False))
print("Seriesx\n",seriesx,"\n\nSeriesy\n", seriesy)
seriescombinedusingadd = seriesx.add(seriesy, fill_value=0)
print("\ncombined seriesx and seriesy using add\n",seriescombinedusingadd)
seriescombinedusingsub = seriesx.sub(seriesy, fill_value=0)
print("\ncombined seriesx and seriesy using sub\n",seriescombinedusingsub)

Seriesx
 4    0
o    2
5    4
2    6
i    8
dtype: int64

Seriesy
 o    12.000
a    12.175
3    12.350
5    12.525
1    12.700
dtype: float64

combined seriesx and seriesy using add
 1    12.700
2     6.000
3    12.350
4     0.000
5    16.525
a    12.175
i     8.000
o    14.000
dtype: float64

combined seriesx and seriesy using sub
 1   -12.700
2     6.000
3   -12.350
4     0.000
5    -8.525
a   -12.175
i     8.000
o   -10.000
dtype: float64

For Conversion operation on Series go to Conversion operation on series section on "https://www.geeksforgeeks.org/python-pandas-series/?ref=lbp".

## PANDAS DATAFRAME

In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. For more info go to "https://www.geeksforgeeks.org/creating-a-pandas-dataframe/?ref=lbp".

In [6]:
# Empty DataFrame
df1 = pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [7]:
# Dataframe from list object
df2 = pd.DataFrame(list1, columns=['A'])
print("DataFrame created from list1:\n{one}".format(one=df2))

DataFrame created from list1:
    A
0  a1
1  a2
2  a3
3  a4

In [8]:
# DataFrame from Series object
df3 = pd.DataFrame(seriescombinedusingadd, columns=['ADD'])
print("DataFrame created from series object:\n{one}".format(one=df3))

DataFrame created from series object:
      ADD
1  12.700
2   6.000
3  12.350
4   0.000
5  16.525
a  12.175
i   8.000
o  14.000

In [9]:
# Adding a new column to the existing DataFrame object
df3['SUB'] = seriescombinedusingsub
print("Adding a new column to the existing DataFrame object:\n{one}".format(one=df3))

Adding a new column to the existing DataFrame object:
      ADD     SUB
1  12.700 -12.700
2   6.000   6.000
3  12.350 -12.350
4   0.000   0.000
5  16.525  -8.525
a  12.175 -12.175
i   8.000   8.000
o  14.000 -10.000

In [10]:
# Creating a DataFrame from dictionary
dict1 = {'one':1, 'two':2, 'three':3, 'four':4, 'default':0}
df4 = pd.DataFrame(dict1.values(), index=dict1.keys())
print("DataFrame created from dictionary object:\n{one}".format(one=df4))

DataFrame created from dictionary object:
         0
one      1
two      2
three    3
four     4
default  0

In [11]:
# Creating a DataFrame from dictionary
dict2 = {'one':[1, 1.0, 'First', 'Top'], 'two':[2, 2.0, 'second', 'secondFromTop'], 'three':[3, 3.0, 'third', 'thirdFromTop']}
df5 = pd.DataFrame(dict2)
print("DataFrame created from dictionary object:\n{one}".format(one=df5))

DataFrame created from dictionary object:
     one            two         three
0      1              2             3
1    1.0            2.0           3.0
2  First         second         third
3    Top  secondFromTop  thirdFromTop

In [12]:
# Creating a series from DataFrame object with conversion demo
seriesfromdf = df5['one'].astype('S10')
print(seriesfromdf)
print()
print(df5['one'])

0        b'1'
1      b'1.0'
2    b'First'
3      b'Top'
Name: one, dtype: bytes80

0        1
1      1.0
2    First
3      Top
Name: one, dtype: object

These are some of the basics of pandas library. Visit any online platform or anyother source whenever is required. I referred geeks for geeks "https://www.geeksforgeeks.org/pandas-tutorial/?ref=lbp".