For python introduction like its features and installing on your machine and much more go to https://www.geeksforgeeks.org/introduction-to-python/?ref=lbp

# Basic python program "Hello world!"

In [1]:
print("Hello World!")

Hello World!

#### See how beautiful it is? Instead of writing class, inside class main function and inside that having sys out to write to console, the code completes in single line. This way the programmer can more concentrate on logic rather than syntactical rules.

# Basic Math calculations on python console

In [2]:
# Addition
1 + 2 + 3 + 4 + 5

15

In [3]:
# Multiplication
5 * 4 * 3 * 2 * 1

120

In [4]:
# Floating point Division
5/3

1.6666666666666667

In [5]:
# Integral point Division
5//3

1

In [6]:
# Remainder
5 % 3

2

In [7]:
# Power
2**3

8

In [8]:
# Mixed fraction
1 + 2 * 4 / 2 ** 3

2.0

**Precedence of arithematic operators**

1.   Perenthesis
2.   Exponentiation
3.   Multiplication and Division has same precedence
4.   Addtion and Substraction has same precedence

### You need not write the entire object oriented code to perform simple calculations, this is the beauty of python

# Comments in python



1. Single line comment : The text that starts with '\#' is considered as comment by python interpretor and this line will be ignored and can be used for documenting your code
2. Multi line comment : The text that is written inside triple quotes(''' ..... ''' or """ ..... """) is considered as multi line comments. Truely speaking, python dont has multipline comments, whatever is written inside triple quotes is considered as Doc strings in python

In [9]:
# This is a single line comment

In [10]:
'''This is a doc string encoded in triple quotes, can be used for mentioning for multi line comments'''

'This is a doc string encoded in triple quotes, can be used for mentioning for multi line comments'

In [11]:
"""This is a doc string encoded in triple double quotes, can be used for mentioning for multi line comments"""

'This is a doc string encoded in triple double quotes, can be used for mentioning for multi line comments'

***Note:*** Doc strings in python is written at the start of function and class. These are used to generate API documentation. The command to generate API documentation is 'python -m pydoc -w document_name'.

# Variables in python



1.   Python is dynamically typed, that means you need not declare a variable. Instead an assignment statement binds a name to an object and object can be of any type.
2.   In other statically typed programming language, all variables should be explicitly declared and assigning a value which is of different type throws an error.

In [12]:
# x is a variable with value 5 in it
x = 5

In [13]:
# to see type of variable x
type(x)

int

In [14]:
# to see address of the variable
id(x)

139595367022960

In [15]:
# this will tag variable y to the same memory location instead of allocation another memory location for it
y = x
id(y)

139595367022960

In [16]:
# Now tag x is assigned to different memory location and different data type
x = "I am a string"
type(x)

str

In [17]:
# tag y is assigned to same previous memory location
y

5

In [18]:
# address of x
id(x)

139594937291440

In [19]:
# address of y
id(y)

139595367022960

#### The above understanding about variables gives sense of how efficiently python utilizes its memory. Because in other programming languages, y will be another memory location and value of the variable x is assigned to it

# Output formatting in python : print() function

In [20]:
# To print something print() function is used
print("Hello World! I am chitti, the robot, Speed 1 tera byte, Memory 1 zeta byte")

Hello World! I am chitti, the robot, Speed 1 tera byte, Memory 1 zeta byte

In [21]:
# Now lets try to print by using comma(,)
print("5 + 3 = ", 7, "is an incorrect statement.")

5 + 3 =  7 is an incorrect statement.

In [22]:
# Now lets use % and print something
x = 5
y = 2.5
z = "I am a string"
print("%2d + %.1f = %s" %(x, y, z))
print("%10d + %.4f = %s" %(x, y, z))
print("%-10d + %-10.1f = %s" %(x, y, z))

 5 + 2.5 = I am a string
         5 + 2.5000 = I am a string
5          + 2.5        = I am a string

In [23]:
# To print hexadecimal and octal format of a number
x = 9
print("%o" %(x))

11

In [24]:
x = 1116
print("%x" %(x))

45c

In [25]:
x = 10
print(bin(x))

0b1010

In [26]:
print(oct(x))

0o12

In [27]:
print(hex(x))

0xa

In [28]:
# print the integer in binary format keeping the leading o's
print(format(x, "#08b"))

0b001010

In [36]:
# you can also take the result into a variable
result = format(x, "08b")
print(result)

00001010

In [37]:
print(format(x, "#06b"))

0b1010

In [38]:
# Now lets try to use .format()
print("My name is {one} and my father name is {two}".format(one = "Tom", two = "Jerry"))

My name is Tom and my father name is Jerry

In [39]:
# Now escape sequences
print("I love my \"father\" and I hate no one.")

I love my "father" and I hate no one.

In [40]:
print("I \t J ")

I 	 J

***Note* : This is how easily you can do output formating in python. If you are struck somewhere, go and search in google and this will hep you in proceeding further.**

***Note* : For operators in python go to Geeks for Geeks or any website that you usually prefer**

# Operators


1.   Arithematic operators : +, -, /, //, %, **
2.   Comparison operators : <, >, <=, >=, ==
3.   Logical operators : and, or, not
4.   Bitwise operators : &, |, ~, ^, >>, <<
5.   Assignment operators : =, +=, -=, *=, /=, %=, //=, **=, &=, |=, ^=, >>=, <<=
6.   Membership and Identity operators : in, not in, is, is not

# Control flow operators in python


1.   if-else
2.   while loop
3.   for loop
4.   if-else ladder

### IF-ELSE

In [41]:
# if else loop
x = 2
y = 5
if x<=y:
  print("x is less than y")
else:
  print("x is greater than y")

x is less than y

### WHILE LOOP

In [42]:
# While loop
x = 10
i = 0
while i<=x:
  print(i, end=",")
  i+=1

0,1,2,3,4,5,6,7,8,9,10,

### FOR LOOP

In [43]:
# range function
range(0,10,2)

range(0, 10, 2)

***Note:* range function is used for iterating over for loop**

In [44]:
# for loop
for x in range(0,10):
  print(x, end=",")

0,1,2,3,4,5,6,7,8,9,

In [45]:
for x in range(0,10,2):
  print(x, end=",")

0,2,4,6,8,

In [46]:
for x in range(1,10,2):
  print(x, end=",")

1,3,5,7,9,

In [47]:
demo = [1, 2, 3, 4]
for x in demo:
  print(x, end=",")

1,2,3,4,

In [48]:
demo = [(1,2), (3,4), (5,6)]
for x,y in demo:
  print(x, y, end=",")

1 2,3 4,5 6,

In [49]:
demo = [1, 2, 3, 4]
demo1 = [2, 3, 4, 5]
for x,y in zip(demo, demo1):
  print(x, y, end=",")

1 2,2 3,3 4,4 5,

### IF-ELSE LADDER

In [50]:
# if else ladder
x = 10
y = 2
z = 5
if x<y:
  print("x is less than y")
elif x<z:
  print("x is less than z")
else:
  print("y less than z")

y less than z

# Lists

**Def:** Lists are dynamically sized arrays with heterogeneous objects in it and can be accessed sequentially. Basically lists will be having a pointers to the memory locations.

In [60]:
# creation of lists which has same type of objects
list1 = [1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [61]:
# creation of lists which has heterogeneous objects
list2 = [1, 'I am a string', 12.5, True]
print(list2)

[1, 'I am a string', 12.5, True]

In [62]:
# creation of lists inside another lists
list3 = [1, [1, 'I am a string'], 34.5, False]
print(list3)

[1, [1, 'I am a string'], 34.5, False]

In [63]:
# creation of matrix of size M X N
list4 = [[1,2,3],
         [4,5,6],
         [7,8,9]]
print(list4)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [64]:
# creation of 3D matrix of size M X N X P
list5 = [[[1,2,3],
          [4,5,6]],
         [[7,8,9],
          [10,11,12]]]
print(list5)

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]

***Note:* You can also create list using list() function like l1 = list([1,2,3])**

In [65]:
# know size of list
print(len(list1), len(list2), len(list3), len(list4), len(list5))

4 4 4 3 2

In [66]:
# list indexing and slicing
print("The first and last elements of list1 are : ", list1[0], list1[-1])

The first and last elements of list1 are :  1 4

In [67]:
# get the first and last 3 elements of list2 using slicing
print(list2[:3])
print(list2[len(list2)-3::])

[1, 'I am a string', 12.5]
['I am a string', 12.5, True]

In [68]:
# get the first 3 elements of list2 starting from index 1
print(list2[1:4])

['I am a string', 12.5, True]

In [69]:
# get the elements at even and odd positions of a list
print(list2[0::2])
print(list2[1::2])

[1, 12.5]
['I am a string', True]

In [70]:
# print the elements of a list in reverse order
print(list2[-1::-1]) # you can also use list.reverse() function to reverse it

[True, 12.5, 'I am a string', 1]

In [71]:
# list aliasing : assigning another name to the same list
listtemp = list2
print(listtemp)

[1, 'I am a string', 12.5, True]

In [72]:
print(id(listtemp)==id(list2))
list2[0] = "I am another string"
print(listtemp)

True
['I am another string', 'I am a string', 12.5, True]

In [73]:
# when copy of the same list is needed instead of aliasing
listtemp = list2[:] # also can be done using list2.copy()
print(id(listtemp)==id(list2))

False

In [74]:
list2[0] = 1
print(list2)
print(listtemp)

[1, 'I am a string', 12.5, True]
['I am another string', 'I am a string', 12.5, True]

In [75]:
# membership in lists
print(12.5 in list2)

True

In [76]:
# iterating over the lists
# way 1
for i in range(len(list2)):
  print(list2[i], end=", ")

1, I am a string, 12.5, True,

In [77]:
# way 2
for x in list2:
  print(x, end=", ")

1, I am a string, 12.5, True,

In [78]:
# lists inbuild functions in python
list6 = [2,1,"a","c","b",0]
list6.index(0) # fist occurence of 0 in list
list6.append(10) # appends 10 to the end of list
list6.insert(0, 11) # inserts 11 to the position 0
list6.count(2) # returns the count of 0 in list
list6.extend(list2) # appends list2 to list6
list6.remove(0) # removes 0 from list
list6.pop() # removes the last element from the list
list6.reverse() # reverses the elements of the list
list6.clear() # clears all the elemenst of the list

In [79]:
list7 = [0,5,2,3,4]
list7.sort()
print(list7)

[0, 2, 3, 4, 5]

In [80]:
# List comprehension
list8 = [x for x in range(1,10,2)]
print(list8)

[1, 3, 5, 7, 9]

In [81]:
list9 = [[x for x in range(0,3,1)] for y in range(0,2,1)]
print(list9)

[[0, 1, 2], [0, 1, 2]]

In [82]:
list10 = [x**2 for x in range(0,10) if x%2==0]
print(list10)

[0, 4, 16, 36, 64]

# Tuples

***Note:* Lists are mutable where as tuples are immutable.**

In [83]:
# creation of tuples
tuple1 = (3,1,2)
tuple2 = (1, "I am a string", (4,5,6), True, 12.5, False)
tuple3 = tuple((23,4,"I am a string", True))
print(tuple1)
print(tuple2)
print(tuple3)

(3, 1, 2)
(1, 'I am a string', (4, 5, 6), True, 12.5, False)
(23, 4, 'I am a string', True)

In [84]:
# trying to modify the element of a tuple throws errors as tuples are immutable
tuple1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [85]:
# the indexing and slicing is same as lists
tuple2[1:3]

('I am a string', (4, 5, 6))

In [86]:
# functions on tuple
print(len(tuple2))
print(min(tuple1))
print(max(tuple1))
print(tuple2.count(1))
print(tuple2.index(1))
print(sorted(tuple1))

6
1
3
2
0
[1, 2, 3]

In [87]:
# sort based on first element of a tuple
list8 = [(5,1), (4,2), (3,3), (2,4), (1,5)]
print(sorted(list8, key = lambda x : x[0]))

[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

In [88]:
# iterating over the list having tuples
for x,y in list8:
  print(x+y+x*y, end=", ")

11, 14, 15, 14, 11,

# Dictionaries



1.   A dictionary represents a group of objects arranged in the form of key-value pairs.
2.   Dictionary in python is similar to hash maps in java, but in python dictionaries can have mixed type of keys as well as values

In [89]:
# creation of dictionaries
dict1 = {1:2, 2:"apple", "ball":12.5, "knows computer":True, 0:False}
dict2 = dict({2:"apple", 1:2, "ball":12.5, "knows computer":True, 0:False})
dict3 = dict({(1,2) : "1"})
print(dict1)
print(dict2)
print(dict3)

{1: 2, 2: 'apple', 'ball': 12.5, 'knows computer': True, 0: False}
{2: 'apple', 1: 2, 'ball': 12.5, 'knows computer': True, 0: False}
{(1, 2): '1'}

In [90]:
# length of dictionary
print(len(dict1), len(dict2), len(dict3))

5 5 1

In [91]:
# delete a key-value pair in dictionary
del dict2[2]
print(dict2)
print(1 in dict2)

{1: 2, 'ball': 12.5, 'knows computer': True, 0: False}
True

In [92]:
# add a new key-value pair to existing dictionary
dict2[2] = "apple" # this adds 2:"apple to dictionary at any place"
print(dict2)

{1: 2, 'ball': 12.5, 'knows computer': True, 0: False, 2: 'apple'}

***Note:* Keys should be immutable types in dictionary. For example if you use list as a key, the error pops up**

In [93]:
# Different dictionary methods
dict4 = dict.fromkeys([1,2,3], None) # creates a dictionary with keys set to first iterable object and value set to next argument
print(dict4)
dict4.update(dict1) # updates the dictionary from the elements in dict1
print(dict4.items()) # gives the key-value pairs in the form of tuples
print(dict4.keys()) # gives the keys from the dictionary
print(dict4.values()) # gives the values from the dictionary
dict4.pop(3) # pops the item with key 3 from dictionary
print(dict4)
dict4.setdefault(-1) # if key is not found, then inserts default value -1 to the dictionary
dict4.clear() # clears all the elements from the dictionary
print(dict4)

{1: None, 2: None, 3: None}
dict_items([(1, 2), (2, 'apple'), (3, None), ('ball', 12.5), ('knows computer', True), (0, False)])
dict_keys([1, 2, 3, 'ball', 'knows computer', 0])
dict_values([2, 'apple', None, 12.5, True, False])
{1: 2, 2: 'apple', 'ball': 12.5, 'knows computer': True, 0: False}
{}

In [94]:
# Using for loops in dictionary
for x in dict1:
  print(x, end=", ")
print()
for x in dict1:
  print(dict1[x], end=", ")
print()
for k,v in dict1.items():
  print(k,v, end=", ")

1, 2, ball, knows computer, 0,
2, apple, 12.5, True, False,
1 2, 2 apple, ball 12.5, knows computer True, 0 False,

In [95]:
# creating dictionaries from lists
list9 = [1,2,3]
list10 = ["a", "b", "c"]
z = zip(list9, list10)
dict5 = dict(z)
print(dict5)

{1: 'a', 2: 'b', 3: 'c'}

# Sets

The sets in python are an unordered collection of items. It is iterable, mutable and has no duplicates

In [96]:
# creation of sets
set1 = {1,2,3,3,4,1,5,10,10}
print(set1)
list11 = [1,2,2,2,3,4,5,6,5,7,1]
set2 = set(list11)
print(set2)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 6, 7}

In [97]:
# We can add or delete an element from set but we cannot perform indexing and item assignment
set1[0] = 1 # this will give an error

TypeError: 'set' object does not support item assignment

In [98]:
set1.add(108) # This will add
set1.remove(1) # This will remove
print(set1)

{2, 3, 4, 5, 10, 108}

In [99]:
# Both produces same result
print(set1.union(set2))
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 10, 108}
{1, 2, 3, 4, 5, 6, 7, 10, 108}

In [100]:
# Both will produce same result
print(set1.intersection(set2))
print(set1 & set2)

{2, 3, 4, 5}
{2, 3, 4, 5}

In [101]:
# Both will produce same result
print(set1.difference(set2))
print(set1 - set2)

{10, 108}
{10, 108}

In [102]:
# Both will produce same result
print(set1.symmetric_difference(set2))
print(set1 ^ set2)

{1, 6, 7, 10, 108}
{1, 6, 7, 10, 108}

In [103]:
# Most useful operation for which sets are used
print(1 in set1)

False

In [104]:
# frozen sets
frozenset1 = frozenset(set1)
print(frozenset1)
print(type(frozenset1))

frozenset({2, 3, 4, 5, 10, 108})
<class 'frozenset'>

In [105]:
# You cannot add or delete elements from frozen set
frozenset1.add(109)
print(frozenset1)

AttributeError: 'frozenset' object has no attribute 'add'

In [106]:
# update function will update the elements of set1 with set2
set1 = {1,2,3}
set2 = {3,4,5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In [107]:
# This will do the same thing as above and logically also correct
set1 = {1,2,3}
set2 = {3,4,5}
set1 |= set2
print(set1)

{1, 2, 3, 4, 5}

***Note: *Learn about reduce function at https://www.geeksforgeeks.org/python-append-multiple-elements-in-set/?ref=lbp**

# Functions

To define functions, **def** keyword is used followed by function name, parameters and function body

In [108]:
# Simple python function which adds two numbers
def addition(x, y):
  return x+y
print(addition(1,2))

3

In [109]:
# A different kind of function which takes default values if nothing is provided
def addition1(x=10, y=20):
  return x+y
print(addition1())
print(addition1(20,30))

30
50

***Note: *You can use mixture of variables with default values and without default values**

map() and filter() functions with lambda expressions

In [110]:
# map() function
list1 = (1,2,3,4,5)
list2 = (1,2,3,4,5)
result = map(addition, list1, list2)
print(list(result))

[2, 4, 6, 8, 10]

In [111]:
# filter() function with the help of lambda expression
result = filter(lambda x : x%2==0, list1)
print(list(result))

[2, 4]

# OOPS concepts in python

### Classes and Objects

Basically a class has 3 things


1.   Identity: Name of the class.
2.   State/Attributes: There will be 2 types of attributes, instance and class attributes.
3.   Behaviour: Functions in class

***Note:* A class is a logical entity(not alive or stays in permanent storage) and object is a physical entity(alive or stays in physical storage(RAM))**

In [122]:
# demo is the class identity
class demo:
  #Class attribute, state/attributes
  class_name = "demo"

  # instance attributes, state/attributes
  def __init__(self, a1, a2):
    self.a1 = a1
    self.a2 = a2
    self.__privateVariable = "test_private"

  # behaviour/functions
  def addNums(self):
    return self.a1 + self.a2

  def printNums(self):
    print("number1 and number2 respectively are {one} and {two}".format(one=self.a1, two=self.a2))

  def __str__(self):
    print("I am default __str__ function which can be used to display the information about the class...")

  def __del__(self):
    print("I am a destructor, I will be called automatically when there is no reference of a object and I am no need to be defined")

In [124]:
d = demo(1,2)
print(d.__class__.class_name)
print(d.addNums())
print(d.printNums())
print(d._demo__privateVariable) # not strictly private

demo
3
number1 and number2 respectively are 1 and 2
None
test_private
I am a destructor, I will be called automatically when there is no reference of a object and I am no need to be defined

In [125]:
d1 = demo(10,20)
d1.__class__.class_name = "sid"
print(d1.__class__.class_name)
print(d.__class__.class_name)

sid
sid

In [126]:
del d
del d1

I am a destructor, I will be called automatically when there is no reference of a object and I am no need to be defined
I am a destructor, I will be called automatically when there is no reference of a object and I am no need to be defined

**The remaining OOPS concepts like Inheritance, Polymorphism, Encapsulation and data abstraction etc by googling as well as in geeks for geeks website or anyother popular websites**

## Inheritance, Polymorphism

In [127]:
#Planet is the identity of the class
class Planet:
  """
  Base class Planet
  """
  # constructor, instance variables, state/attributes of the class
  def __init__(self, name, myStar, myPosition):
    self.name = name
    self.myStar = myStar
    self.myPosition = myPosition

  # function __specifics__ or behaviour of the class
  def __specifics__(self):
    print("This planet name is {name}, it orbits around the star {star} and I am {nth}th planet from my star".format(name=self.name, star=self.nameOfTheOrbitingStar, nth=self.nofPlanetFromStar))

In [128]:
class Earth(Planet):
  """
  Derived class Earth which inherits the properties of Base class Planet
  """
  def __init__(self, name, myStar, myPosition, distanceFromMyStar, naturalSatellites, satelliteNames):
    self.distanceFromMyStar = distanceFromMyStar
    self.naturalSatellites = naturalSatellites
    self.satelliteNames = satelliteNames

    Planet.__init__(self, name, myStar, myPosition)

  # Polymorphism, method overriding
  def __specifics__(self):
    print("I am the planet, {name}".format(name=self.name), end=",\n")
    print("I revolve around {myStar}".format(myStar=self.myStar), end=",\n")
    print("I am the {nth} planet from {myStar} and I am {distanceFromMyStar} units from {myStar}.".format(nth=self.myPosition, myStar=self.myStar, distanceFromMyStar=self.distanceFromMyStar))
    print("I have {number} natural satellites and their names are {satelliteNames}".format(number=self.naturalSatellites, satelliteNames=self.satelliteNames))

In [129]:
p1 = Earth("Earth", "Sun", "3rd", "147.1 million km", 1, ["Moon"])
p1.__specifics__()

I am the planet, Earth,
I revolve around Sun,
I am the 3rd planet from Sun and I am 147.1 million km units from Sun.
I have 1 natural satellites and their names are ['Moon']

# Exception Handling



1.   Error: A problem in a program which causes it to terminate.
2.   Exception: A problem in a program which changes the normal execution flow rather than terminating the program

Five important keywords in python exception handling


1.   try: Here write your code for which you want to handle exception.
2.   except: What to do if an exception occurs.
3.   else: Code if exception dont occur.
4.   finally: Code that should be executed at last.
5.   raise: To raise any kind of exception.

In [130]:
# Here taking the example of ZeroDivisionError
def testDivisionByZeroExceptionHandling():
  try:
    a = int(input())
    b = int(input())
    result = a/b
  except ZeroDivisionError:
    print("Division by zero error. Trying to divide {a}/{b}".format(a=a, b=b))
  else:
    print("Division successfull...{a}/{b}={c}".format(a=a,b=b,c=result))
  finally:
    print("I will execute whatever be the code in the try block")

In [131]:
testDivisionByZeroExceptionHandling()

1
2
Division successfull...1/2=0.5
I will execute whatever be the code in the try block

In [132]:
testDivisionByZeroExceptionHandling()

I am a destructor, I will be called automatically when there is no reference of a object and I am no need to be defined
I am a destructor, I will be called automatically when there is no reference of a object and I am no need to be defined
3
0
Division by zero error. Trying to divide 3/0
I will execute whatever be the code in the try block

***Note:* You can define your exception by extending Exception class**

In [133]:
class MyException(Exception):
  pass

try:
  raise MyException
except MyException as error:
  print("Raised user defined exception...")

Raised user defined exception...

In [134]:
class MyException(Exception):

  def __init__(self, value):
    self.value = value

  def __str__(self):
    print("Raised user defined exception: ", self.value)

try:
  raise MyException(3*2)
except MyException as error:
  print("MyException value: ", error.value)

MyException value:  6